<!DOCTYPE html>
<html>
  <head>
    <title>NOVA INDUSTRIES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom:16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
     <img  class="img-fluid" id="banner" src="https://sample-begining-website-1--praveenmarimuth.repl.co/static/banner.jpg" >
    <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}}</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae consequat arcu. Nam at eros nec velit cursus rutrum. Proin finibus pellentesque nisl vel porttitor. Aliquam vulputate facilisis eros et eleifend. In consequat, ligula lacinia placerat imperdiet, eros nunc ultrices nisl, in maximus arcu ante eu sem.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut tempor ipsum. Proin suscipit, ligula eget ullamcorper mattis, quam leo interdum lacus, sagittis consequat dui metus in neque. Maecenas iaculis leo non mattis ultricies. Mauris facilisis posuere purus a finibus. Fusce a lectus ac libero gravida tempus sed ut lectus. Curabitur gravida eleifend luctus. Etiam id metus vel magna mattis mollis.</p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/working.jpg" style="width:640px; height:300px; border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center">JOB OPENINGS</h2>
      <h3 class="mt-4 mb-4">Available Jobs</h3>
      <div>
        {% for job in jobs %}
        {% include 'jobitem.html'%}
       
        {% endfor %}
      </div>
      <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact us</button>
        <h6 class="mt-4">Copyright 2023 NOVA INDUSTRIES</h6>
      </div>
  </div>
    {% include 'footer.html'%}
  </body>
</html>